.opacity-header {
    background-color: rgba(255, 250, 250, 0.5)!important;
}
.main-container {
    position: relative;
    width: 100%;
    min-height: 75px;
    background-color: var(--color-bg);
    border-bottom: 3px solid var(--color-third);
    z-index: 50;
    nav {   
        position: relative;
        padding: 8px 0 0;
        z-index: 2;

        .wrapper {
            display: flex;
            justify-content: space-between!important;
            align-items: center;
            height: 75px;

            .mobile-menu {
                display: none;
                width: fit-content;
                font-size: 20px;
                padding: 15px;
                cursor: pointer;
            }

            .logo {
                font-size: 24px;
                color: var(--color-primary);
                font-weight: bold;
                text-transform: uppercase;
            }

            .nav-links {
                display: flex;
                align-items: center;

                a {
                    display: inline-block;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0.1em;
                    transition: color 0.2s;
                    font-size: .9em;
                    text-decoration: none;
                    padding: 15px;
                    white-space: nowrap;
                    color: var(--color-text);

                    &:hover {
                        border-bottom: 1px solid var(--color-third);
                    }
                }
            }
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
      
        .dropdiv {
            display: inline-block;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.1em;
            transition: color 0.2s;
            font-size: .9em;
            text-decoration: none;
            padding: 15px;
            white-space: nowrap;
            color: var(--color-text);
        } 
        .dropbtn {
            display: inline-block;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.1em;
            transition: color 0.2s;
            background-color: var(--color-third);
            color: var(--color-text);
            border: 1px solid var(--color-third);
            padding: 15px;
            font-size: .9em;
            cursor: pointer;
        }  
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--color-bg);
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            .dropdown-content a {
                color: var(--color-text);
                padding: 10px;
                text-decoration: none;
                display: block;
            }
            &:hover {
                background-color: #f1f1f1;
            }
            
        }
        &:hover .dropdown-content {
            display: block;
        }
        &:hover .dropbtn {
            background-color: var(--color-bg);
            border: 1px solid var(--color-third);
            color: var(--color-text)
        }
    }

    .mobile-drawer.active {
        display: flex;
        overflow: hidden;
    }

    .mobile-drawer {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-third);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(8, 1, 32, 0.9);
        font-weight: 400;
        font-size: 20px;
        z-index: 100;
        animation: fade-in 1s ease-in-out both;

        a {
            width: 200px;
            text-align: center;
            // margin-bottom: 10px;
            // padding-bottom: 10px;
            padding: 10px 0px;
            color: var(--color-bg);
            border-bottom: 1px solid var(--color-primary);

            &:hover {
                color: var(--color-second);
                border-bottom: 1px solid var(--color-third);
            }            
        }
        i {
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            font-size: 30px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
          
            .dropdiv {
                width: 200px;
                text-align: center;
                cursor: pointer;
                padding: 10px 0px;
                color: var(--color-bg);
                border-bottom: 1px solid var(--color-primary);

                &:hover {
                    color: var(--color-second);
                    border-bottom: 1px solid var(--color-third);
                } 
            } 

            .dropbtn {
                width: 200px;
                text-align: center;
                cursor: pointer;
                background-color: var(--color-third);
                color: var(--color-four);
                padding: 10px 0px;                
                font-weight: 500;
            }  
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: rgba(8, 1, 32, 0.9);;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border: 1px solid var(--color-second);
                z-index: 1;
    
                a {
                    color: var(--color-bg);
                    margin: 5px auto;
                    padding: 10px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        color: var(--color-third);
                    }
                }
                
            }
            &:hover .dropdown-content {
                display: block;
            }
            &:hover .dropbtn {
                background-color: var(--color-third);
                border: 1px solid var(--color-third);
                color: var(--color-text);
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(217, 217, 217, 0.478);
        z-index: 1;
    }
    .wrapper {
        position: relative;
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        z-index: 2;
    }
} 
.main-content{
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: var(--color-bg);
    border-bottom: 3px solid var(--color-third);
    z-index: 50;

    nav {   
        position: relative;
        padding: 8px 0 0;
        z-index: 2;

        .wrapper {
            display: flex;
            justify-content: space-between!important;
            align-items: center;
            height: 75px;

            .mobile-menu {
                display: none;
                width: fit-content;
                font-size: 20px;
                padding: 15px;
                cursor: pointer;
            }

            .logo {
                font-size: 24px;
                color: var(--color-primary);
                font-weight: bold;
                text-transform: uppercase;
            }

            .nav-links {
                display: flex;
                align-items: center;

                a {
                    display: inline-block;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0.1em;
                    transition: color 0.2s;
                    font-size: .9em;
                    text-decoration: none;
                    padding: 15px;
                    white-space: nowrap;
                    color: var(--color-text);

                    &:hover {
                        border-bottom: 1px solid var(--color-third);
                    }
                }
            }
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
      
        .dropdiv {
            display: inline-block;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.1em;
            transition: color 0.2s;
            font-size: .9em;
            text-decoration: none;
            padding: 15px;
            white-space: nowrap;
            color: var(--color-text);
        } 
        .dropbtn {
            display: inline-block;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.1em;
            transition: color 0.2s;
            background-color: var(--color-third);
            color: var(--color-text);
            border: 1px solid var(--color-third);
            padding: 15px;
            font-size: .9em;
            cursor: pointer;
            width: 125px;
        }  
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--color-bg);
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            .dropdown-content a {
                color: var(--color-text);
                padding: 10px;
                text-decoration: none;
                display: block;
            }
            &:hover {
                background-color: #f1f1f1;
            }
            
        }
        &:hover .dropdown-content {
            display: block;
        }
        &:hover .dropbtn {
            background-color: var(--color-bg);
            border: 1px solid var(--color-third);
            color: var(--color-text)
        }
    }

    .mobile-drawer.active {
        display: flex;
        overflow: hidden;
    }

    .mobile-drawer {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-third);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(8, 1, 32, 0.9);
        font-weight: 400;
        font-size: 20px;
        z-index: 100;
        animation: fade-in 1s ease-in-out both;

        a {
            width: 200px;
            text-align: center;
            // margin-bottom: 10px;
            // padding-bottom: 10px;
            padding: 10px 0px;
            color: var(--color-bg);
            border-bottom: 1px solid var(--color-primary);

            &:hover {
                color: var(--color-second);
                border-bottom: 1px solid var(--color-third);
            }            
        }
        i {
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            font-size: 30px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
          
            .dropdiv {
                width: 200px;
                text-align: center;
                cursor: pointer;
                padding: 10px 0px;
                color: var(--color-bg);
                border-bottom: 1px solid var(--color-primary);

                &:hover {
                    color: var(--color-second);
                    border-bottom: 1px solid var(--color-third);
                } 
            } 

            .dropbtn {
                width: 200px;
                text-align: center;
                cursor: pointer;
                background-color: var(--color-third);
                color: var(--color-four);
                padding: 10px 0px;                
                font-weight: 500;
            }  
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: rgba(8, 1, 32, 0.9);;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border: 1px solid var(--color-second);
                z-index: 1;
    
                a {
                    color: var(--color-bg);
                    margin: 5px auto;
                    padding: 10px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        color: var(--color-third);
                    }
                }
                
            }
            &:hover .dropdown-content {
                display: block;
            }
            &:hover .dropbtn {
                background-color: var(--color-third);
                border: 1px solid var(--color-third);
                color: var(--color-text);
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(217, 217, 217, 0.478);
        z-index: 1;
    }
    .wrapper {
        position: relative;
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        z-index: 2;
    }
} 

  /* Animation apparition titre, texte & btn */
@keyframes slide-right {
    0% {
      transform: translateX(-300px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@media only screen and (max-width: 960px) {
    .main-content {

        nav {
            .wrapper {
                .nav-links {
                    a {
                        display: none;
                    }
                    .dropdown {
                        display: none;
                    }
                }

                .mobile-menu {
                    display: block;
                }

                .logo {
                    font-size: 20px;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}