
#main-footer {
    height: 65px;
    padding: 1em;
    background: var(--color-primary);
    color: var(--color-four);
    text-align: center;

    .title {
        text-transform: uppercase;
    }
    p {
        margin: 0;
        padding: 0;

        a {
            color: var(--color-third);
            text-decoration: none;
        }
    }
    
}

@media (min-width: 700px) {
    #main-footer {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

        div {
            grid-column: span 2;
        }
    } 
}
@media screen and (max-width: 699px) {
    #main-footer {
        height: 65px;
        .title {
            font-size: 1.2rem;
        }
        p {
            font-size: .8rem;
        }
    }
}