body {
    background-color: var(--color-primary);
    font-size: 100%;
    font-weight: 400;
    height: 100vh;
    width: 100%;

    div, textarea, input {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .contact-container {
        max-width: 760px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
        border: 1px solid var(--color-primary);
        border-bottom: 3px solid var(--color-primary);
        position: relative;
        margin: 45px auto 80px;
    }
    .row {
        width: 100%;
        padding: 0 2.5em; 
    }
    .row.header {
        padding: 2.5em 2.5em;
        border-bottom: 3px solid var(--color-primary);
        background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--color-bg);
        font-weight: 600;

        h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        display: inline-block;
        font-weight: 100;
        font-size: 2.8125em;
        border-bottom: 2px solid (var(--color-third));
        margin: 0 0 0.1em 0;
        padding: 0 0 0.4em 0;
        color: var(--color-primary);
        text-shadow: var(--color-second) 2px 0 10px;
        }

        h2 {
        font-weight: 400;
        font-size: 1.25em;
        margin: 1em 0 0.4em 0;
        color: var(--color-four);
        background-color: rgba(166, 38, 9, 0.2);
        border-radius: 999px;
        }
    } 
    .row.body {
        padding: .5em 2.5em 1em;
        background-color: var(--color-four);

        form {
            max-width: 100%;
            display: block;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0 0.25em 0;
                    clear: both;
                    display: inline-block;
                    width: 100%;
                    .right {
                        float: right;
                    }
                    p { 
                        margin: 0;
                        padding: 0;
                        float: left;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    .req {
                        color: var(--color-second);
                    }
                    .divider {
                        margin: 0.5em 0 0.5em 0;
                        border: 0;
                        height: 1px;
                        width: 100%;
                        display: block;
                        background-color: lightgrey;
                        background-image: linear-gradient(to right, var(--color-second), var(--color-primary));
                    }
                    .btn {
                        font-size: 1.0625em;
                        display: inline-block;
                        padding: 0.74em 1.5em;
                        margin: 1.5em 0 0;
                        color: #fff;
                        border-width: 0 0 0 0;
                        border-bottom: 5px solid;
                        text-transform: uppercase;
                        background-color: var(--color-primary);
                        font-family: 'Lato', sans-serif;
                        font-weight: 300;
                        &:hover {
                            background-color: var(--color-second);
                        }
                    }
                    .btn.btn-submit {
                        background-color: var(--color-second);
                        color: var(--color-primary);
                        border: 2px solid var(--color-primary);           

                        &:hover {
                            background-color: white;
                            color: var(--color-primary);
                            border: 2px solid var(--color-primary);
                        }
                    }
                        
                }
            }
            label {
              display: block;
              margin: 0 0 0.5em 0;
              color: var(--color-text);
              font-size: 1em;
            }
            input {
                margin: 0 0 0.5em 0;
                border: 1px solid var(--color-primary);
                background-color: var(--color-second);
                padding: 6px 10px;
                color: var(--color-text);
                font-size: 1em;
            }
            textarea {
                border: 1px solid var(--color-primary);
                background-color: var(--color-second);
                padding: 6px 10px;
                width: 100%;
                height: 200px;
                color: var(--color-text);
            }
            small {
                color: var(--color-primary);
                margin: 0 0 0 0.5em;
            }
        }
    }  
}
@media screen and (min-width: 320px) {
    body {
        .contact-container {
            top: 45px;
        }
    }
}
@media only screen and (max-width: 480px) {
    .contact-container {
        margin: 15px auto;
    }
    .right {
        float: none;
    }

    input {
        width: 100%;
    }

    label {
        width: 100%;
        display: flex;
        float: left;
        clear: both;
    }

    li, p {
        width: 100%;
    }

    input.btn {
        margin: 1.5em 0 0.5em;
    }

    h3 {
        font-size: 1.125em;
    }

    li small {
        display: none;
    }
}
@media (min-width: 480px) and (max-width:1024px){
    .contact-container {
        margin: 15px auto;
    }
}